body
{
	font-size: 12px;
	font-family: 'Futura', sans-serif;
	font-weight: bold;
	color: #5d2e46;
}

h1
{
	font-size: 500%;
	color: #183a37;
}

h2
{
	font-size: 250%;
}

h3
{
	font-size: 200%;
	color: #183a37;
}

h4
{
	font-size: 167%;
	font-weight: medium;
	font-style: italic;
	color: #183a37;
}

h5
{
	font-size: 130%;
	font-weight: medium;
	color: #183a37;
}


header
{
	text-align: center;
	letter-spacing: .4em;
	width: 100%;
	margin: 0px;
	padding: 40px 0px;
	background-color: #5d2e46;
	font-size: 350%;
	color: #f9f5e3;
}

nav
{
	letter-spacing: .2em;
	margin: 0px;
	padding: 15px;
	background-color: #f9e0d9;
	font-size: 200%;
	text-align: center;
}

nav a
{
	display: inline;
	text-decoration: none;
	padding: 15px 50px;
	background-color: #f9e0d9;
	color: #5d2e46;
}

nav a:hover
{
	background-color: #f5c9bd;
}

button
{
	width: 75%;
	padding: 5px 25px;
	background-color: #a49694;
	font-size: 180%;
	letter-spacing: .5em;
	color: white;
	cursor: pointer;
	border-width: 0px;
}

button:hover
{
	background-color: #b9aeac;
}