
body {
  color: #223937;
  background-color: #f8f5e5;
}
footer {
  color: #223937;
  text-align: center;
  padding-top: 200px;
  font-family: 'Futura', sans-serif;
}
a {
  color: #223937;
  font-size: 24px;
}
.nav-item{
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.nav-link{
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #563145 !important;
}
.form-control{
  font-family: 'Futura', sans-serif;
  font-weight: medium;
  font-style: italic;
  font-size: 35px;
  color: #a19694 !important;
}
.top {
  background-color: #f4e1da;
}
.row {
  text-align: center;
  margin: 30px 0px 0px 0px;
}
.content {
  text-align: left !important;
  font-size: 30px !important;
}
.nav-link.dropdown-toggle,
.dropdown-item {
  color: #3f7e9c;
}

h1 {
  color: #f8f5e5;
  background-color: #563145 !important;
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  letter-spacing: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  color: #223937 !important;
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  padding-top: 30px;
}

h3{
  color: #f8f5e5;
  background-color: #a19694;
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  padding: 15px 35% 15px 35%;
}

p {
  color: #223937;
  font-family: 'Futura', sans-serif;
  text-align: center !important;
  font-size: 25px;
  padding-top: 20px;
}
