<%- include('global/header', {title:"About"}); %>
<%- include('global/navbar'); %>

<div class="container">
  <h2>About Us</h2>
  <div class="row justify-content-center">
      <p> We are Reveal.</p>
  </div>
</div>

<%- include ('global/footer'); %>
