<%- include('global/header', {title:"Error"}); %>
<%- include('global/navbar'); %>

<div class="container">

  <h2> <%=errorCode%> Error</h2>
  <p> The resource you requested has not been found.</p>

</div>

<%- include ('global/footer'); %>
