<%- include ('global/header', {title:"Reveal"}); %>
<%- include ('global/navbar'); %>


  <div class = "container">
      <div class="row d-flex align-items-center">
        <div class="input-group">
           <input type="text" class="form-control" placeholder="Company name" id = "search">
           <div class="input-group-append">
               <button class="btn btn-secondary" type="button" id="searchBtn">
                   <i class="fa fa-search">Search</i>
               </button>
           </div>
         </div>
      </div>

      <div class="row d-flex justify-content-center">
        <p> Click <a href="/survey">here</a> to take the preference survey. </p>
      </div>

      <div class="row d-flex justify-content-center">
        <h3> Search History </h3>
      </div>
  </div>

  <%- include ('global/footer'); %>
