<!doctype html>

<body>
  <header>
    <h1>Demo Search</h1>
  </header>

  <nav class="navbar">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      
      </ul>
    </div>
  </nav>
